.body {
    background-color: black;
}
.container {
    display: grid;
    grid-template-areas: 
    'title minimize maximize close'
    'menu mode mode history'
    'window window window window'
    'memory memory memory memory'
    'keypad keypad keypad keypad';
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.keypad {
    display: grid;   
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
